<section class="contactUs pt-64 border-rose-300 tracking-wider">
  <div class="contactUs-center mx-auto pl-32 grid grid-cols-2 border-purple-50">
    <p>Aut fugiat consequuntur est doloribus minus in quis illum eum magnam dolor. Qui voluptate rerum sit ducimus deleniti et quia consequatur! Aut omnis impedit vel voluptates adipisci quo illum sunt nam obcaecati veritatis sit autem quia.</p>
    <form action="" class="pl-16 flex justify-center items-center ">
      <input type="text" class="border-rose-300 border-2 h-6 text-center" placeholder="contact@gmail.com">
      <button class="btn border-2 border-rose-300 mr-1 rounded-r px-2">Submit</button>
    </form>
  </div>
</section>
