<section class="article">
  <div class="center-article grid grid-cols-2">
    <div>
      <img
        src="{{ imgSelected }}"
        alt="{{ product?.name }}"
        class="imgArticle"
      />
      <div class="flex mt-2">
        <button
          *ngFor="let myImg of product?.imgUrl; let i = index"
          (click)="changeSelectedImg(i)"
        >
          <img src="{{ myImg }}" class="small-img" alt="" />
        </button>
      </div>
    </div>
    <div class="article-description">
      <p class="capitalize tracking-wider font-bold text-4xl title">
        {{ product?.name }}
        <span class="text-sm">( {{ product?.reviews }} reviews )</span>
      </p>
      <p class="text-pink-500 tracking-widest font-bold text-xl">
        ${{ product?.price }}
      </p>

      <p class="tracking-wider text-base pt-5 text">
        {{ product?.description }}
      </p>
      <div class="flex flex-col">
        <span class="tracking-wider capitalize text-lg text font-bold mb-3"
          >avaible : <span class="font-normal">in stock</span></span
        >
        <span class="tracking-wider capitalize text-lg text font-bold mb-3"
          >category :
          <span class="font-normal">{{ product?.category }}</span></span
        >
        <span class="tracking-wider capitalize text-lg text font-bold mb-6"
          >brand : <span class="font-normal">{{ product?.company }}</span></span
        >
      </div>
      <div class="line bg-pink-300 mt-3"></div>
      <div class="flex mt-5 mb-3">
        <span class="tracking-wider capitalize text-lg text font-bold title"
          >colors :
        </span>
        <div class="flex items-center">
          <span
            *ngFor="let color of product?.colors"
            (click)="changeSelectedColor(color)"
            [ngClass]="color === colorSelected ? 'border-2 border-white' : ''"
            [style.background-color]="color"
            class="w-4 ml-1 opacity-50 cursor-pointer h-4 rounded-full flex"
          ></span>
        </div>
      </div>
      <div class="flex items-center">
        <button class="pb-2.5 mt-1" (click)="decreaseQuantity()">
          <mat-icon class="opacity-50">minimize</mat-icon>
        </button>
        <span class="font-bold text-2xl ml-1 mr-1 title">{{ quantity }}</span>
        <button class="pt-0.5 mt-1" (click)="increaseQuantity()">
          <mat-icon class="opacity-50">add</mat-icon>
        </button>
      </div>
      <a routerLink="/cart"><button
        class="rounded-sm text-white capitalize tracking-widest bg-pink-300 mt-5 btn font-semibold"
        (click)="addCart(quantity, colorSelected)"
      >
       add to cart
      </button>
    </a>
    </div>
  </div>
</section>
